.hotelContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.hotelWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.bookNow{
    position:absolute;
    top: 10;
    right: 0;
    background-color: rgb(84, 84, 211);
    padding: 10px 5px;
    color: white;
    border: None;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;

}
.hotelTitle{
    font-size: 24px;
}
.hotelAddress{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap:10px;
}
.hotelDistance{
    color: rgb(29, 114, 142);
    font-weight: 600;
}
.hotelPriceHighlight{
    color: green;
    font-weight: 300;
}
.hotelImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.hotelImgWrapper{
    width: 33%;

}
.hotelImg{
    width: 100%;
    object-fit: cover;
}
.hotelDetails{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;

    
}
.hotelDetailsTexts{
    flex: 3;
    
}
.hotelDesc{
    font-size: 14px;
    margin-top: 20px;
     
}
.hotelDetailsPrice{
    flex: 1;
    background-color: rgb(216, 231, 231);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hotelDetailsPrice>h1{
    font-size: 18px;
    color: cadetblue;
}
.hotelDetailsPrice>span{
    font-size: 14px;
}
.hotelDetailsPrice>h2{
    font-weight: 300;
}
.hotelDetailsPrice>button{
    cursor: pointer;
    background-color: rgb(56, 56, 201);
    color: white;
    border:none;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
} 
.slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color:rgb(0, 0, 0,);
    z-index: 999;
    display: flex;
    align-items: center;
}
.sliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sliderImg{
    width: 80%;
    height: 80vh;
}
.close{
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 30px;
    color: rgb(21, 20, 20);
    cursor: pointer;
}
.arrow{
    margin: 20px;
    font-size: 50px;
    color: rgb(154, 192, 201);
    cursor: pointer;  
}
